:root {
  --color-bg: rgb(240,240,240);
  --color-text: rgba(41, 41, 41, 1);
  --color-link: rgb(100, 100, 100);

  --alpha: 0.5;
  /* background-color: rgba(var(--color), var(--alpha)); */
}

@supports (color: color(p3 0 0 0)) {

    :root {
        --color-bg: color(p3 1.0 0 0); /* 100% red in the P3 color space */
    }

}

@media (prefers-color-scheme: dark) {

    :root {
        --color-bg: rgb(41, 41, 41);
        --color-text: rgb(240,240,240);
    }
}

@media (forced-colors) {

    :root {
        --color-bg: highlightText;

        /* https://css-tricks.com/css-variables-calc-rgb-enforcing-high-contrast-colors/
        rgba(
            calc(var(--accessible-color) * -1),
            calc(var(--accessible-color) * -1),
            calc(var(--accessible-color) * -1),
            0.25
        )
        */

        /* https://css-tricks.com/reverse-text-color-mix-blend-mode/
        */
    }

}

html {
    font-family: sans-serif;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    color: var(--color-link);
}

@media (prefers-color-scheme: dark) {
    :focus {
        outline-color: yellow; /* TODO */
    }

  img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
  }
  img:hover {
      opacity: 1;
  }
}

/* F O R M   B A S I C   S T Y L E S  */
label {
    display: block;
}

.form-field-wrapper {
    margin-bottom: .5rem;
}

.form-field-hint {
    font-style: italic;
    color: rgba(0,0,0,.5);
}

p.info:before {
    content: "▶️ ";
}

p.todo {
    color: red;
}

p.todo:before {
    content:"ToDo:";
}

@media (prefers-color-scheme: dark) {
  input,
  textarea,
  select {
      color: var(--color-text);
      background-color: var(--color-bg);
  }

  fieldset {}

  input,
  textarea {
      border: 1px solid var(--color-text);
  }

  .form-field-hint {
      color: var(--color-text);
  }

  * :disabled {
      opacity: .2;
  }
}

/*  L A Y O U T  */

@media (min-width: 800px) {
    fieldset {
        display: grid;
        grid-template-columns: repeat(7, 1fr); /* 7 columns */
        grid-gap: .5rem;

        margin: 0 0 1rem;
    }
}
.form-field-wrapper {
    background-color: rgba(124, 124, 124, 0.103);
    /* align-items: flex-start; */
}